.navigation {
    display: block;
    width: 100%;
    height: 4rem;
    background-color: transparent;
    padding: 0 1.4rem;
    z-index: 999;

    &__wrapper {
        position: relative;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        width: auto;
        height: 50%;
    }

    &__link-holder,
    &__account-actions {
        display: flex;
        position: relative;
        height: 100%;
        align-items: center;
    }

    &__link {
        // color: white;
        display: flex;
        align-items: center;
        position: relative;
        height: 100%;
        @include vw(font-size, 22px);
        padding: 0.1rem 0.9rem;
        transition: 150ms ease-in-out;
    }

    &--light {
        position: absolute;
        .navigation__link {
            color: white;
            &:hover {
                @include vw(font-size, 24px);
                color: lightgray;
            }
        }

        .navigation__logo > path {
            fill: white !important;
        }
    }

    &--dark {
        position: relative;
        .navigation__link {
            color: black;
            &:hover {
                @include vw(font-size, 24px);
                color: lightgray;
            }
        }
    }
}
